<div id="header" class="row">
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 hidden-xs" id="logo">
		<%= image_tag @event.avatar.url %>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6" id="event">
		<h1><strong><%= @event.name.upcase %></strong></h1>

		<h3 class="no-margin"><%= format_date(@event.event_date) %></h3>
	</div>
	<input type="hidden" class="event_id" value="<%= @event.id %>">
	<%= render partial: 'shared/username_dropdown' %>
</div>