<%= content_for(:header) do %>
	<%= render partial: 'events/shared/header' %>
<% end %>

<div id="main-content" class="event-list">

	<%= render partial: 'events/shared/no_sidebar' %>
	<div class="row">
		<%- @events.each do |event| %>
			<div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 event">
				<div>
					<%= image_tag event.avatar.url %>
					<div class="event-info clearfix">
						<div class="pull-left">
							<h1 class="no-margin"><strong><%= event.name %></strong></h1>
							<h4 class="no-margin event-date"><%= event.event_date %></h4>
						</div>
						<div class="dropdown edit-event pull-right">
							<div class="dropdown-toggle" id="dropdown_menu" data-toggle="dropdown">
								<span class="glyphicon glyphicon-cog"></span>
							</div>
							<ul class="dropdown-menu dropup">
								<li>
									<a href="/events/<%= event.id %>/edit">
										<span class="glyphicon glyphicon-pencil"></span>
										<span class="edit-text">Edit</span>
									</a>
								</li>
								<li>
									<a href="/events/<%= event.id %>" data-method="delete" data-confirm="Are you sure?">
										<span class="glyphicon glyphicon-trash"></span>
										<span class="edit-text">Delete</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>