<%= content_for(:header) do %>
	<%= render partial: 'events/shared/header' %>
<% end %>

<%= render partial: 'events/shared/no_sidebar' %>

<%- @events.each do |event| %>
	<p>
		<%= event.name %>
		<%= image_tag event.avatar.url(:thumb) %>
	</p>
<% end %>
