<div class="row">
	<%- @events.each do |event| %>
		<div class="col-md-4 col-sm-6 col-xs-12 event">
			<div class="event-info">
				<a class="list-link" href="/<%= event.id %>/<%= event.name %>/talks">
					<div class="event-name border-bottom side-space name"><%= truncate(event.name, length: 40) %></div>
					<div class="date border-bottom side-space"><%= format_date(event.event_date) %></div>

					<p class="description border-bottom side-space no-margin"><%= truncate(event.description, length: 120) %></p>
				</a>

				<div class="clearfix image side-space">
					<div class="pull-left">
						<%= image_tag event.avatar.url %>
					</div>
					<div class="pull-right">
						<% if event.admin_user.name == session[:user_name] %>
							<div class="dropdown edit-event pull-right">
								<div class="dropdown-toggle" id="dropdown_menu" data-toggle="dropdown">
									<span class="glyphicon glyphicon-cog"></span>
								</div>
								<ul class="dropdown-menu dropup">
									<li>
										<a class="event-message" data-id="<%= event.id %>">
											<span class="glyphicon glyphicon-send"></span>
											<span class="edit-text">send a message</span>
										</a>
									</li>
									<li>
										<a class="event-name" data-id="<%= event.id %>">
											<span class="glyphicon glyphicon-info-sign"></span>
											<span class="edit-text">Details</span>
										</a>
									</li>
									<li>
										<a href="/events/<%= event.id %>/edit">
											<span class="glyphicon glyphicon-pencil"></span>
											<span class="edit-text">Edit</span>
										</a>
									</li>
									<li>
										<a href="/events/<%= event.id %>" data-method="delete" data-confirm="Are you sure?">
											<span class="glyphicon glyphicon-trash"></span>
											<span class="edit-text">Delete</span>
										</a>
									</li>
								</ul>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>