<!DOCTYPE html>
<html>
<head>
  <title>XCONF Bangalore</title>
  <link rel="icon" href="/assets/favicon.ico"/>
  <meta name="viewport" content="width=768px; user-scalable=no">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= content_for?(:header) ? (yield :header) : (render partial: 'shared/header') %>

<div id="content" class="row">

	<%= content_for?(:no_sidebar) ?  '' : (render partial: 'shared/sidebar') %>

	<%= yield %>
</div>

</body>
</html>
